.card-view {
  width: 460px;
  padding-right: 15px;
  padding-left: 15px;
  .card-container {
    // background:red;
    width: 100%;
    height: 502px;
    .card-head {
      display: flex;
      justify-content: flex-end;
      margin-top: 5px;
      margin-bottom: 10px;
      button {
        font-size: 15px;
        border: none;
        margin-left: 10px;
        &:nth-child(1) {
          width: 39px;
          height: 30px;
          border-radius: 4px;
          color: #fff;
          border-color: #00b8d8;
          background-color: #00b8d8;
          box-shadow: none;
        }
        &:nth-child(2) {
          width: 39px;
          height: 30px;
          border-radius: 4px;
          color: #fff;
          border-color: #17c671;
          background-color: #17c671;
          box-shadow: none;
        }
      }
      .button-new {
        width: 75px;
        height: 30px;
        border-radius: 4px;
        background: #f8b612;
        border-color: #f8b612;
        color: #5a5a5a;
        box-shadow: none;
        position: relative;
        span {
          position: absolute;
          border-color: #17c671;
          background-color: #17c671;
          color: #fff;
          top: -12px;
          right: -8px;
          padding: 2px 8px;
          border-radius: 5px;
          text-align: center;
          font-size: 11px;
        }
      }
    }
    .card-price {
      display: flex;
      padding: 10px 0;
      flex-direction: column;
      // justify-content: flex-end;
      align-items: flex-end;
      p {
        margin-bottom: 0;

        &:nth-child(1) {
          font-size: 20px;
          color: #17c671;
          .fa-arrow-circle-up {
            font-size: 24px;
          }
        }
      }
    }
    .card-total {
      width: 100%;
      ul {
        width: 100%;
        list-style: none;
        li {
          width: 100%;
          span {
            font-size: 11px;
            color: #cacedb;
            width: 50%;
            line-height: 14px;
            display: inline-block;
            text-align: right;
            // &:nth-child(2) {
            //     text-align: right;
            //   }
            // &:nth-child(2) {
            //   text-align: right;
            // }
          }
        }
      }
    }
    .button-info {
      text-align: right;
      button {
        color: #fff;
        background-color: #00b8d8;
        border-radius: 5px;
        padding: 3px 10px;
        border: none;
        font-size: 10px;
      }
    }
    .card-progress {
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
      .card-progress-left {
        display: flex;
        background-color: #142028;
        justify-content: space-around;
        align-items: center;
        max-width: 60%;
        flex: 0 0 60%;
        padding: 10px 20px;
        border-radius: 5px;
        .progress-box {
          border-bottom: none;
          // background-color: #142028;
        }
        .progress-text{
            text-align: right;
            p{
                color: #cacedb;
                margin-bottom: 0;
            }
            h3{
                color: #17c671;
                font-size: 25px;
                margin-bottom: 0;
            }
        }
      }
      .card-progress-right {
        background-color: #142028;
        max-width: 35%;
        flex: 0 0 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        p {
            font-size: 13px;
            color: #cacedb;
            margin-bottom: 5px;
        }
        .card-progress-icon {
            display: flex;
            i{
                padding: 0 5px;
                font-size: 17px;
                cursor: pointer;
                color: #cacedb;
                &:nth-child(2){
                    opacity: .2;
                }
                &:nth-child(3){
                    opacity: .2;
                }
                &:nth-child(4){
                    opacity: .2;
                }
            }
        }
      }
      
      .ant-progress-text{
        opacity: 0;
        visibility: hidden;
      }
      .ant-progress-outer{
          padding-top: 0 !important;
      }
    }
    .card-footer{
        width: 100%;
        text-align: center;
        padding: 0 30px;
        p{
          color: #cacedb;
          margin-bottom: 0;
        }
        .card-footer-like{
            display: flex;
            align-items: center;
            span{
                display: flex;
                align-items: center;
                color: #cacedb; 
                &:nth-child(1){
                    color: #17c671;
                }
                i{
                    padding: 0;
                    color: #cacedb;
                    margin: 0 5px; 
                }
            }
            .ant-progress-outer{
                width: 90%;
            }
            .ant-progress-text{
                
            }
        }
    }
  }
}
